*
!.gitignore
!.editorconfig
!poetry.lock
!pyproject.toml
!README.md
!CHANGELOG.md
!server/
!server/**
!setup.cfg
!deploy/
!deploy/**
!.gitlab-ci.yml
!docker-compose.yml
!manage.py
!docker
!docker/**
!docs/
!docs/**
!pytest.ini
docker/config/.env
docker/config/.env.local.shell
docs/_build/
docs/_build/**
__pycache__
docker/.elasticbeanstalk/
docker/.elasticbeanstalk/**
server/settings/environments/local.py
!local_fixtures/
!local_fixtures/**

# Translations
*.mo